@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Poppins', 'Public Sans', sans-serif;

  --color-haiti: oklch(18.598% 0.0553 297.2);
  --color-haiti-50: oklch(18.598% 0.0553 297.2);
  --color-haiti-100: oklch(18.598% 0.0553 297.2);
  --color-haiti-200: oklch(18.598% 0.0553 297.2);
  --color-haiti-300: #AEB7B3;
  --color-haiti-400: oklch(18.598% 0.0553 297.2);
  --color-haiti-500: oklch(18.598% 0.0553 297.2);
  --color-haiti-600: oklch(18.598% 0.0553 297.2);
  --color-haiti-700: oklch(18.598% 0.0553 297.2);
  --color-haiti-800: oklch(0% 0 none);
  --color-haiti-900: oklch(0% 0 none);
  --color-haiti-950: oklch(0% 0 none);
}

/* Or, to ensure it covers the entire viewport */
html, body {
  height: 100%;
}

body {
  background-color: #f0f9ff;
  font-size: 18px;
}